<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	{% load static %}
	<script src="{% static '/shoptaki/shoptaki.js' %}" type="text/javascript"></script>
	<link href="{% static '/shoptaki/shoptaki.css' %}" rel="stylesheet" type="text/css">
	<title> {% block title %} Shoptaki-real estate {% endblock %} </title>
</head>

<body>
	<header>
		<div class="logo">
			SHOPTAKI
		</div>
		<div class="nav-links">
			<a href="{% url 'home' %}">Home</a>
			<a href="{% url 'finder' %}">Finder</a>
			<a href="{% url 'profile' %}">Profile</a>
			<a href="{% url 'favorites' %}">Favorites</a>
			<a href="{% url 'settings' %}">Settings</a>
			<a href="{% url 'logout' %}"><button>Logout</button></a>
		</div>


		{% if user.is_authenticated %}
		<div>
			<img style="height:70px" src="static/image/suit.png">
		</div>
		{% else %}
		<div id="login-link">
			<a href="{% url 'login' %}">Login</a>
		</div>
		{% endif %}
	</header>

	<div class="mainpage">
		{% block content %}
		{% endblock %}
	</div>

</body>

</html>