{% extends "shoptaki/base.html" %}
{% block content %}
<div class="finder_option_body">

    <h1 class=" finder_title">
        CHOOSE A PROPERTY TYPE :
    </h1>

    <div class="property_options">
        <button onclick="redirectToTheFinder('Multi Family')">
            MULTI FAMILY
        </button>
        <button onclick="redirectToTheFinder('Single Family')">
            SINGLE FAMILY
        </button>
        <button onclick="redirectToTheFinder('Hotel')">
            HOTEL
        </button>
    </div>
</div>

<script>

    function redirectToTheFinder(type) {
        window.location.href = "{% url 'finder' %}?type=" + encodeURIComponent(type);
    }

</script>

{% endblock %}