{% extends "shoptaki/base.html" %}
{% block content %}
<div class="finder_search_body">


  <h1>MULTI FAMILY HOME</h1>

  <h2 class=" finder_title">
    Property Finder:</h2>

  <h1>{{error}}</h1>


  <div class="search_input">
    <div class="finder_form">
      <form method="post" action="{% url 'finder' %}">
        <table>
          {% for field in form %}
          <tr>
            <td>
              <img src="https://s2.loli.net/2023/04/23/u5oGswr9Ahxzk4V.png" class="info-icon"
                id="{{ field.name }}-info-icon" alt="Info icon" title="{{ field.help_text }}">
            </td>
            <td>{{ field.label_tag }}</td>

            <td>{{ field }}</td>
            {% if field.name == 'cap_rate' or field.name == 'loan_to_value' or field.name == 'interest_rate' %}
            <td> %</td>
            {% endif %}
            {% if field.name == 'amort_sched' %}
            <td> years</td>
            {% endif %}


          </tr>
          {% endfor %}
        </table>
        {% csrf_token %}
        <br>
        <button class="button" id="id_finder_button" type="submit">View Listings</button>
      </form>
    </div>
  </div>

  <!-- <div class="search_input">
        <div class="finder_form">
            <form method="post" action="/results">
                <table>
                    {{form}}
                </table>
                {% csrf_token %}
                <br>
                <input type="submit" value="Submit">
            </form>
        </div>
    </div> -->

  <div id="terms">
    <div id="container_cap_rate" class="info-container">
      <a id="stress_term">Cap rate</a> is expressed as a percentage and represents the rate of return an investor can
      expect to receive on
      their investment in the property.<br><br>
      The higher the cap rate, the higher the potential return, but it also
      indicates a higher level of risk. <br><br>
      Conversely, a lower cap rate indicates a lower potential return, but also a
      lower level of risk.
      <br><br>Cap rate is often used as a benchmark to compare the value of different real estate
      investment opportunities.
    </div>
    <div id="container_loan_to_value" class="info-container">
      The <a id="stress_term">loan-to-value</a> (LTV) ratio is an assessment of lending risk that financial institutions
      and other lenders examine
      before approving a mortgage. <br><br>Typically, loan assessments with high LTV ratios are considered higher-risk
      loans.<br><br>
      Therefore, if the mortgage is approved, the loan has a higher interest rate.
    </div>
    <div id="container_current_savings" class="info-container">
      The amount that you have now to invest in any property.
    </div>
    <div id="container_interest_rate" class="info-container">
      In a mortgage, the <a id="stress_term">interest rate</a> is the cost of borrowing money from a lender to purchase
      a
      home or property. <br><br>
      It is the percentage of the loan amount that the borrower will pay back to the lender as interest over the life of
      the loan.
    </div>
    <div id="container_amort_sched" class="info-container">
      Number of <a id="stress_term">Years</a> you wish to invest on this property.
    </div>
  </div>

</div>
<script>

  //for cap rate
  var img = document.getElementById('cap_rate-info-icon');
  var div = document.getElementById('container_cap_rate');

  img.addEventListener('mouseover', function () {
    div.style.display = 'block';
  });

  img.addEventListener('mouseout', function () {
    div.style.display = 'none';
  });

  //for loan to value
  var img2 = document.getElementById('loan_to_value-info-icon');
  var div2 = document.getElementById('container_loan_to_value');

  img2.addEventListener('mouseover', function () {
    div2.style.display = 'block';
  });

  img2.addEventListener('mouseout', function () {
    div2.style.display = 'none';
  });

  //for current savings
  var img3 = document.getElementById('current_savings-info-icon');
  var div3 = document.getElementById('container_current_savings');

  img3.addEventListener('mouseover', function () {
    div3.style.display = 'block';
  });

  img3.addEventListener('mouseout', function () {
    div3.style.display = 'none';
  });
  //for interest rate
  var img4 = document.getElementById('interest_rate-info-icon');
  var div4 = document.getElementById('container_interest_rate');

  img4.addEventListener('mouseover', function () {
    div4.style.display = 'block';
  });

  img4.addEventListener('mouseout', function () {
    div4.style.display = 'none';
  });
  //for amortized years
  var img5 = document.getElementById('amort_sched-info-icon');
  var div5 = document.getElementById('container_amort_sched');

  img5.addEventListener('mouseover', function () {
    div5.style.display = 'block';
  });

  img5.addEventListener('mouseout', function () {
    div5.style.display = 'none';
  });

</script>

{% endblock %}