{% extends "shoptaki/base.html" %}
{% block content %}

<div class="info_body">
    <div id="info_program_intro">
        <h1>About our Program</h1>

        Our system incorporates an acquisition model to calculate the important financial metrics based on the following
        property details: price, cap rate, loan to value, interest rate, and years of amortization.
        <br> <br>
        The output is separated into two scenarios: interest only and principal & interest. Both scenarios result in
        outputs for principal, interest, free cash flow, cash on cash, debt yield, and debt constant. These metrics are
        important for determining the potential profitability and return on investment for the property.
        <br> <br>
        To give you a better idea of how your investment will perform in the first year, we also provide a mortgage
        calculator result. This showcases how your principal and interest payments will change over the course of a year
        if you decide to invest in this property.
        <br> <br>
        Our website offers a platform for users to search for and analyze property investments. Users can access their
        profile page to view personal information and projects, and use our acquisition model to calculate important
        financial metrics based on inputs such as price, cap rate, loan to value, interest rate, and years of
        amortization. Our website also provides a mortgage calculator to showcase how principal and interest payments
        will change over the first year of investment.

    </div>

    <div id="info_tech_intro">
        <h1>Tech Sets Applied</h1>
        <img src="https://s2.loli.net/2023/04/11/BVuhCkvEcf7s8lY.png">
        <br>
        <p> ----------👇👇👇---------</p>
        <img src="https://s2.loli.net/2023/04/11/cCBVGgiJ4EFbzIq.jpg">

    </div>

    <div id="info_term_intro">
        <img src="https://s2.loli.net/2023/04/11/XiFgn648zTw7Std.png">
    </div>



    <div id="info_user_story">
        <h1>User Story</h1>
        <div>
            Welcome to our user guide! Here's how you can use our website to access your profile page, view your
            personal information and projects, and find your ideal property investment.
            <br>
            <h3>Step 1: Login</h3>

            In order to access your profile page, you need to log in to your account. Once you've successfully logged
            in, you'll be able to view your personal information and the project you're currently involved in.
            <br>
            <h3>Step 2: Find Properties</h3>
            Click on the data tab to begin your search for properties. Here, you'll first be prompted to use the
            Pittsburgh Property Finder, where you can choose the type of property you want to invest in and input your
            current savings, monthly budget, payment type, and investment period as required.
            <br>
            <h3>Step 3: View Recommendations</h3>

            Once you've inputted your details, our system will provide you with a list of recommended properties based
            on your preferences. You can even order the list based on the feature that you've selected.
            <br>
            <h3>Step 4: Save Favorites</h3>
            If you find a property that you're interested in, simply like or unlike it on the listing page. This will
            allow you to save it to your Favorites for future reference.
            <br>

            <h3>Step 5: View Property Details</h3>
            Clicking on each property block in the listing page will also lead you to the property detail page. This
            will lead you to the detailed project page where you can find a description and financial metrics for the
            selected house. You can find more information about certain financial metrics by clicking on the info icon.
            <br>
            And there you have it! Follow these steps to make the most of our website and find the perfect property
            investment for you.
        </div>
    </div>

</div>


{% endblock %}