{% extends "shoptaki/base_for_listings.html" %}

{% block content %}
<section id="showcase-inner" class="py-5 text-black">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-12">
                <h1 lass="fas fa-map-marker">{{ listing.address }}</h1>
                <p class="lead">
                    <i class="fas fa-map-marker"></i> {{ listing.city }} {{ listing.state }}, {{ listing.zipcode }}
                </p>
            </div>
        </div>
    </div>
</section>


<!-- Listing -->
<section id="listing" class="py-4">
    <div class="container">
        <a href="{% url 'results' %}" class="btn btn-light mb-4">Back To Listings</a>
        <div class="row">
            <div class="col-md-9">
                <!-- Home Main Image -->
                <img src="{{ listing.img }}" alt="" class="img-main img-fluid mb-3">
                <!-- Thumbnails -->
                <div class="row mb-5 thumbs">
                    {% if listing.photo_1 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_1.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_1.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_2 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_2.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_2.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_3 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_3.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_3.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_4 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_4.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_4.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_5 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_5.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_5.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                    {% if listing.photo_6 %}
                    <div class="col-md-2">
                        <a href="{{ listing.photo_6.url }}" data-lightbox="home-images">
                            <img src="{{ listing.photo_6.url }}" alt="" class="img-fluid">
                        </a>
                    </div>
                    {% endif %}
                </div>
                <!-- Fields -->
                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-alt"></i> Asking Price:
                                <span class="float-right">${{ listing.price }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bed"></i> Bedrooms:
                                <span class="float-right">{{ listing.bedrooms }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Bathrooms:
                                <span class="float-right">{{ listing.bathrooms }}</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-th-large"></i> Square Feet:
                                <span class="float-right">{{ listing.sqft }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-square"></i> Lot Size:
                                <span class="float-right">{{ listing.lot_size }} Acres
                                </span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-calendar"></i> Listing Date:
                                <span class="float-right">{{ listing.list_date }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bed"></i> Realtor:
                                <span class="float-right">{{ listing.realtor }}
                  </span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row mb-5 fields">
                    <div class="col-md-6">
                        <h5 class="card-title">Interest Only Scenario</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-alt"></i> Principal:
                                <span class="float-right">$0</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bed"></i> Interest:
                                <span class="float-right">${{ listing_info.p_interest }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Free Cash Flow:
                                <span class="float-right">${{ listing_info.p_fcf }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Cash on Cash:
                                <span class="float-right">{{ listing_info.p_cashoncash }}%</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Debt Yield:
                                <span class="float-right">{{ listing_info.p_debtyield }}%</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Debt Constant:
                                <span class="float-right">{{ listing_info.p_debtconstant }}%</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <h5 class="card-title">Principal and Interest Only Scenario</h5>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-money-bill-alt"></i> Principal:
                                <span class="float-right">${{ listing_info.pandi_principal}}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bed"></i> Interest:
                                <span class="float-right">${{ listing_info.pandi_interest }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Free Cash Flow:
                                <span class="float-right">${{ listing_info.pandi_fcf }}</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Cash on Cash:
                                <span class="float-right">{{ listing_info.pandi_cashoncash }}%</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Debt Yield:
                                <span class="float-right">{{ listing_info.pandi_debtyield }}%</span>
                            </li>
                            <li class="list-group-item text-secondary">
                                <i class="fas fa-bath"></i> Debt Constant:
                                <span class="float-right">{{ listing_info.pandi_debtconstant }}%</span>
                            </li>
                        </ul>
                    </div>
                </div>


                <!-- Description -->
                <div class="row mb-5">
                    <div class="col-md-12">
                        {{ listing.description }}
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title">Personal Metrics</h5>
                        <h6 class="text-secondary">Cap Rate {{ analytics.cap_rate }}%</h6>
                        <h6 class="text-secondary">Loan To Vale {{ analytics.loan_to_value }}%</h6>
                        <h6 class="text-secondary">Current Savings: ${{ analytics.current_savings}}</h6>
                        <h6 class="text-secondary">Interest Rate: {{ analytics.interest_rate}}%</h6>
                        <h6 class="text-secondary">Amortization Schedule: {{ analytics.amort_sched}} years</h6>
                        <h6 class="text-secondary">NOI: ${{ listing_info.noi}} </h6>
                        <h6 class="text-secondary">Monthly NOI: ${{ listing_info.monthly_noi}} </h6>
                    </div>
                </div>
                <button class="btn-primary btn-block btn-lg" data-toggle="modal" data-target="#inquiryModal">Make An
                    Inquiry</button>
            </div>
        </div>
    </div>
</section>

{% endblock %}