{% extends "shoptaki/base.html" %}

{% block navigation %}
<div id="up">
</div>
<div id="down">
    <a id="id_register_link" href="{% url 'register' %}">
        Register
    </a>
</div>

{% endblock %}


{% block content %}
<div id="id_page_name">
    Login
</div>
<div>
    <form method="post" action="{% url 'login' %}">
        <table>
            {{form}}
        </table>
        {% csrf_token %}
        <button class="button" id="id_login_button" type="submit">Submit</button>
    </form>
</div>
{% endblock %}


<!--

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="static/blog/blog.css" type="text/css">

</head>

<body>
    <div id="main">
        <div id="id_header_div">
            <div id="id_site_name">
                <h1>BLOG MASTER</h1>
            </div>
            <form id="id_login_info" mathod="POST">
                <table>
                    {{ form }}
                </table>
                <br>
                <h2 id="id_page_link">Login</h2>
                <label>User Name:</label><br>
                <input id="id_username"><br>
                <label>Password:</label><br>
                <input id="id_password"><br>
                <button id="id_login_button">Submit</button>
            </form>
            <div id="id_register_link">
                <a href="{% url 'register' %}">Register</a>
            </div>
        </div>

    </div>

</body>

</html>
-->