{% extends "socialnetwork/base.html" %}

{% block navigation %}
<div id="up">
    <a id="id_nav_profile" class="headerRightDownLink" href="my_profile">{{user.get_full_name}}</a>
</div>
<div id="down">
    <a id="id_nav_global_stream" class="headerRightDownLink" href="global_stream">Global</a>
    <a id="id_nav_follower_stream" class="headerRightDownLink" href="follower_stream">Follower</a>
    <a id="id_nav_logout" class="headerRightDownLink" href={% url 'logout' %}>Logout</a>
</div>
{% endblock %}


{% block content %}
<h3 id="id_page_name">Profile Page for {{ user.get_full_name}}</h3>

<img id="id_user_picture" src="static/image/suit.png" width="200" height="200" />


<form method="POST">
    {% csrf_token %}
    <table>
        <form method="POST">
            <tr>
                <td>
                    <input id="id_bio_input_text" type="text" name="bio_input_text">
                </td>
            </tr>

            <tr>
                <td>
                    Profile Picture:
                    <button class="button" id="id_profile_picture">Choose File</button>
                    <button class="button" id="id_update_profile_button" type="submit">Submit</button>
                </td>
            </tr>

            <tr>
                <td>
                    Your are following:
                    <p id="id_profile_link_1"></p>
                </td>
            </tr>

            {% csrf_token %}
        </form>
    </table>
</form>

{% endblock %}