{% extends "shoptaki/base.html" %}

{% block navigation %}
<div id="up">
    <a id="id_nav_profile" class="headerRightDownLink" href="my_profile">{{user.get_full_name}}</a>
</div>
<div id="down">
    <a id="id_nav_global_stream" class="headerRightDownLink" href="global_stream">Global</a>
    <a id="id_nav_follower_stream" class="headerRightDownLink" href="follower_stream">Follower</a>
    <a id="id_nav_logout" class="headerRightDownLink" href={% url 'logout' %}>Logout</a>
</div>
{% endblock %}


{% block content %}
<div class="profile_body">
    <div id="profile_pic">
        <img id="id_user_picture" src="static/image/suit.png" />
        <form method="POST">
            {% csrf_token %}
            <table>
                <form method="POST">
                    <tr>
                        <td>
                            Profile Picture:
                            <button class="button" id="id_profile_picture">Choose File</button>
                            <button class="button" id="id_update_profile_button" type="submit">Submit</button>
                        </td>
                    </tr>
                    {% csrf_token %}
                </form>
            </table>
        </form>

    </div>
    <div id="profile_info">

        <div id="user_info">
            <label for="username">
                User Name: {{user.get_full_name}}
            </label>
            <br>
            <label for="phone">
                Contact Number:
                <input type="text" id="phone" name="phone" placeholder="请输入电话号码">
            </label>
            <br>
            <label for="emailaddress">
                Email Address:
                <input type="text" id="email" name="email" placeholder="请输入email">
            </label>

            <script>
                const phoneInput = document.getElementById("phone");
                if (user && user.phone_number) {
                    phoneInput.value = user.phone_number;
                }

                const emailInput = document.getElementById("email");
                if (user && user.email_address) {
                    emailInput.value = user.email_address;
                }

            </script>

        </div>
        <div id="user_invest">
            <label>Project Engaged: </label>

        </div>

    </div>

</div>

{% endblock %}