{% extends "shoptaki/base.html" %}

{% block navigation %}
<div id="up">
    <a id="id_nav_profile" class="headerRightDownLink" href="my_profile">{{user.get_full_name}}</a>
</div>
<div id="down">
    <a id="id_nav_global_stream" class="headerRightDownLink" href="global_stream">Global</a>
    <a id="id_nav_follower_stream" class="headerRightDownLink" href="follower_stream">Follower</a>
    <a id="id_nav_logout" class="headerRightDownLink" href={% url 'logout' %}>Logout</a>
</div>
{% endblock %}


{% block content %}
<div class="profile_body">
    <div id="profile_pic" style="text-align:center">
        <img id="id_user_picture" style="align-items: center;align-self: center;" src="{{pic}}" />
    </div>
    <div id="profile_info">

        <div id="user_info">
            <label for="username">
                User Name: {{user.get_full_name}}
            </label>
            <br>
            <label for="phone">
                Contact Number:
                <input type="text" id="phone" name="phone" placeholder="Please enter your phone number here">
            </label>
            <br>
            <label for="emailaddress">
                Email Address:
                <input type="text" id="email" name="email" placeholder="Please enter your email address here">
            </label>

            <script>
                const phoneInput = document.getElementById("phone");
                if (user && user.phone_number) {
                    phoneInput.value = user.phone_number;
                }

                const emailInput = document.getElementById("email");
                if (user && user.email_address) {
                    emailInput.value = user.email_address;
                }

            </script>

        </div>
        <div id="user_invest">
            <label>Project Engaged: </label>

        </div>

    </div>

</div>
<script>
    
</script>
{% endblock %}