body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
}

header {
    background-color: #FFFFFF;
    color: #FFFFFF;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainpage {
    height: 100%;
    width: 100%;
    position: absolute;

    /*
    border-style: solid;
    border-width: 2px;
    border-color: #0d0d0d;
    */
}

.logo {
    padding: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;

    /* Main/Blue */

    color: #3C64B1;
}

.nav-links {
    display: flex;
    margin-right: 10px;
}

.nav-links a {
    color: #0d0d0d;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.user—avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*
    border-style: solid;
    border-width: 3px;
    border-color: #333;
    */

    background-size: cover;
    background-position: center;
    margin-left: 10px;

}


.home_bg {
    height: 100%;
    width: 100%;
    background-image: url("https://s2.loli.net/2023/03/28/ViaHyo7Zzb5uGc2.png");
    background-size: cover;
    /* Scale the image to cover the entire body */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */

    /* border-style: solid;
    border-width: 2px;
    border-color: #0d0d0d;*/
}

.home_bg h1 {
    position: absolute;
    justify-content: center;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 150px;
}

.home_button {
    color: white;
    font-size: 20px;
    background: #3C64B1;
    border-radius: 10%;
    width: 200px;
    height: 42px;
    margin-top: 400px;
    margin-left: 100px;
}

#id_finder_button {

    color: white;
    font-size: 20px;
    background: #3C64B1;
    border-radius: 10%;
    width: 200px;
    height: 42px;
}

#login-link {
    margin-right: 100px;
}

.profile_body {

    display: flex;
}

#profile_pic {


    flex-grow: 1;
    text-align: center;


    max-width: 30%;
    max-height: 100%;

}

#id_user_picture {
    max-width: 100%;
    height: auto;

}

#profile_info {
    flex-grow: 3;


    display: flex;
    flex-direction: column;

}

#profile_info div {
    height: 40%;
    border-style: solid;
    border-color: #0d0d0d;
    border-width: 2px;

    padding: 20px;
    margin: 20px;
    flex-direction: column;

}


.info_body,
.profile_body,
.login_body,
.register_body,
.finder_option_body,
.finder_search_body {
    text-align: center;
    padding: 10%;
}

.finder_search_body {
    text-align: center;
    background-image: url("https://s2.loli.net/2023/04/25/MdxktOQEqzVLvWF.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.finder_search_body a {
    color: #3C64B1;
}

.search_input {

    padding: 1%;

    border-style: solid;
    border-width: 1px;
    background: rgba(109, 148, 223, 0.8);
    border-radius: 30px;

}

.finder_form label {
    margin-top: 30%;
}


#info_program_intro,
#info_user_story {
    text-align: left;
    margin: 10px;
    border-style: solid;
    border-color: #0d0d0d;
    border-width: 2px;
    padding: 30px;
}

#info_tech_intro,
#info_term_intro {

    margin: 10px;
    padding: 30px;
    border-style: solid;
    border-color: #0d0d0d;
    border-width: 2px;
}

#info_tech_intro img {
    width: 80%;
}

.login_title,
.register_title,
.finder_title {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
}

.login_form,
.register_form,
.finder_form {
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;

}

.property_options button {
    width: 325px;
    height: 173px;

    mix-blend-mode: normal;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 70px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    background: #3C64B1;
}



#listing_title {
    text-align: center;
}



#cap_rate-info-icon {}


#container_cap_rate,
#container_loan_to_value,
#container_current_savings,
#container_interest_rate,
#container_amort_sched {
    display: none;
    z-index: 1;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 10px;
    position: absolute;
}



.info-icon {
    width: 20px;
}