body {
    margin: 0;
    padding: 0;
    height: calc(100vh - 80px);
}

header {
    background-color: #c2b9b9;
    color: #fff;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mainpage {
    height: 100%;
    width: 100%;
    position: absolute;

    /*
    border-style: solid;
    border-width: 2px;
    border-color: #0d0d0d;
    */
}

.logo {
    padding: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: uppercase;

    /* Main/Blue */

    color: #3C64B1;
}

.nav-links {
    display: flex;
    margin-right: 10px;
}

.nav-links a {
    color: #0d0d0d;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.user—avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /*
    border-style: solid;
    border-width: 3px;
    border-color: #333;
    */

    background-size: cover;
    background-position: center;
    margin-left: 10px;

}


.home_bg {
    height: 100%;
    width: 100%;
    background-image: url("https://s2.loli.net/2023/03/28/ViaHyo7Zzb5uGc2.png");
    background-size: cover;
    /* Scale the image to cover the entire body */
    background-repeat: no-repeat;
    /* Prevent the image from repeating */

    /* border-style: solid;
    border-width: 2px;
    border-color: #0d0d0d;*/
}

.home_bg h1 {
    position: absolute;
    justify-content: center;
    font-size: 50px;
    margin-left: 100px;
    margin-top: 150px;
}

.home_button {
    color: white;
    font-size: 20px;
    background: #3C64B1;
    border-radius: 10%;
    width: 200px;
    height: 42px;
    margin-top: 400px;
    margin-left: 100px;
}

#id_finder_button {

    color: white;
    font-size: 20px;
    background: #3C64B1;
    border-radius: 10%;
    width: 200px;
    height: 42px;
}

#login-link {
    margin-right: 100px;
}

.login_body,
.register_body,
.finder_option_body {
    text-align: center;
    margin-top: 100px;
}

.login_title,
.register_title,
.finder_title {
    font-size: 50px;
    font-weight: 700;
}

.login_form,
.register_form,
.finder_form{
    display: flex;
    justify-content: center;
    padding: 20px;
    font-size: 20px;

}

.property_options button {
    width: 325px;
    height: 173px;

    mix-blend-mode: normal;
    backdrop-filter: blur(2px);
    /* Note: backdrop-filter has minimal browser support */

    border-radius: 70px;

    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    background: #3C64B1;
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2; }

